# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/

# Misc
*.swp
*.lock
.claude/
