# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcworkspace/xcuserdata/

# macOS
**/.DS_Store
._*
.Spotlight-V100
.Trashes

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/

# Brainstorming
.superpowers/

# Misc
*.swp
*.lock
.claude/
.wrangler/

# Secrets & signing
.env
.env.*
*.p12
*.cer
*.mobileprovision
*.xcconfig
